html,  body {
    height: 100%;
    background-image: url(./image/aaa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}

