#quote-box {
    background-color: #DFDBE5;
    width: 50vw;
    height: 20vw;
    font-size: 1.5vw;
    /* margin: 0 auto; */
    border: 1.5px solid #9383AA;
    border-radius: 15px;
    color: #5f5969; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#text {
    display: flex;
    text-align: center;
}

#author {
    margin-top: 0%;
    display: flex;
    justify-content: center;
}

#buttonAndA {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}